* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #09090a;
  --border-color: #8b5cf6;
}

body {
  background-color: var(--bg-color);
  color: white;

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
}

.btn-registerDay {
  padding: 16px 24px;

  border: 1px solid var(--border-color);
  border-radius: 8px;

  background-color: transparent;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/* width: 0px - 570px */
@media (max-width: 570px) {
  .btn-registerDay div {
    display: none;
  }
}

.form-habits {
  display: flex;

  padding: 182px 48px 48px 48px;

  width: fit-content;
}

.form-habits .habits {
  margin-top: 60px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.form-habits .habits .habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-habits .days {
  display: flex;
  gap: 48px;

  margin-left: 32px;
}

.form-habits .days .day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto mono";
  font-size: 20px;
  line-height: 125%;
  text-align: center;

  color: #a1a1aa;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;
  background: #18181b;
}

input[type="checkbox"]:checked {
  background-color: var(--border-color);
  border: 2px solid #27272a;
}

.tempModal {
  background-color: var(--bg-color);

  border: 1px solid var(--border-color);
  border-radius: 0px 0px 8px 8px;
  border-top: 5px solid var(--border-color);

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;

  width: fit-content;
  height: fit-content;

  margin: 16px 0px;
  padding: 16px 24px;

  position: fixed;
  bottom: 16px;
  right: 48px;
}
